<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper.ChattingMapper">

	<select id="msg_list" resultType="ChattingVO">
		select c.*, m.name from chatting c join member m on c.mid = m.mid where cno = #{cno} order by CH_DATE asc
	</select>
	
	<insert id="insert_msg">
		insert into chatting(ch_no,mid,cno,msg) values(seq_ch_no.nextval, #{mid}, #{cno}, #{msg})
	</insert>
	
	<select id="msg_member" resultType="String">
		select distinct(mid) from status where cno = #{cno}
	</select>
</mapper>