<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper.CrewMapper">

	<select id="crew_list" resultType="CrewVO">
		select * from crew 
		 where cno not in (select distinct(c.cno) from status s join crew c on s.cno = c.cno where s.mid=#{mid}) 
		 order by read_cnt desc
	</select>
	
	<select id="crew_join_cnt" resultType="Integer">
		select count(distinct(mid)) from Status where cno=#{cno}
	</select>
	
</mapper>