<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.mappers.sGalleryMapper">

	<insert id="sgallery_create">
		insert into sGallery(sg_no, cno, mid, sg_picture) values (seq_sg_no.nextval, #{cno}, #{mid}, #{sg_picture})
	</insert>
	
	<select id="sgallery_list" resultType="sGalleryVO">
		select * from sGallery where cno=#{cno} order by sg_no desc
	</select>
	
	<select id="sgallery_detail" resultType="sGalleryVO">
		select * from sGallery where sg_no=#{sg_no} 
	</select>

	<delete id="sgallery_delete">
		delete from sGallery where sg_no=#{sg_no}	
	</delete>
	
	
	<select id="sgallery_member_name" resultType="String">
		select m.name from sGallery sg join member m on sg.mid = m.mid where sg_no=#{sg_no}
	</select>
	
</mapper>